<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Start this exercise by sitting comfortably in a chair with your feet squarely on the floor and your posture firm, but not rigid.</string>
		<key>end</key>
		<string>00:11</string>
		<key>start</key>
		<string>00:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Make sure your head feels centered over your shoulders and place your arms in a comfortable position at your sides or on your lap.</string>
		<key>end</key>
		<string>00:21</string>
		<key>start</key>
		<string>00:11</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now, gently close your eyes, or locate a place in front of you where you can let your eyes rest, like the floor or a wall.</string>
		<key>end</key>
		<string>00:39</string>
		<key>start</key>
		<string>00:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Take a few moments to get in touch with the physical sensations in your body, especially the sensations of touch or pressure where your body makes contact with the chair or floor.</string>
		<key>end</key>
		<string>00:55</string>
		<key>start</key>
		<string>00:39</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice the rising and falling of your breath in your chest and belly.</string>
		<key>end</key>
		<string>01:01</string>
		<key>start</key>
		<string>00:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There is no need to control your breathing in any way, simply allow yourself to breathe naturally.</string>
		<key>end</key>
		<string>01:10</string>
		<key>start</key>
		<string>01:01</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As best you can, bring this gentle attitude of allowing to all of your experience.</string>
		<key>end</key>
		<string>01:16</string>
		<key>start</key>
		<string>01:10</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There is nothing to be fixed.</string>
		<key>end</key>
		<string>01:18</string>
		<key>start</key>
		<string>01:16</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Simply let your experience to be your experience, without needing it to be anything other than what it is.</string>
		<key>end</key>
		<string>01:33</string>
		<key>start</key>
		<string>01:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now allow yourself to become aware of what you are afraid of or uncomfortable about. Notice any doubts, frustrations, fears, upsets and worries.</string>
		<key>end</key>
		<string>01:46</string>
		<key>start</key>
		<string>01:33</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Just notice them and acknowledge their presence.</string>
		<key>end</key>
		<string>01:49</string>
		<key>start</key>
		<string>01:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Don’t try to work on, resolve, or address them.</string>
		<key>end</key>
		<string>01:55</string>
		<key>start</key>
		<string>01:49</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you simply notice your concerns, pause, andalso allow yourself to be present to your values and commitments.</string>
		<key>end</key>
		<string>02:04</string>
		<key>start</key>
		<string>01:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Ask yourself, "What matters to me?" "What is important to me?"</string>
		<key>end</key>
		<string>02:28</string>
		<key>start</key>
		<string>02:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>When you’re ready, gently shift your focus to a single thought or situation that has been difficult for you.</string>
		<key>end</key>
		<string>02:35</string>
		<key>start</key>
		<string>02:28</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>It could be a troubling thought, worry, image, or body sensation.</string>
		<key>end</key>
		<string>02:44</string>
		<key>start</key>
		<string>02:35</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Gently and firmly shift your attention toward that discomfort, no matter how bad it seems.</string>
		<key>end</key>
		<string>02:55</string>
		<key>start</key>
		<string>02:44</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice any desire or urge to avoid it.</string>
		<key>end</key>
		<string>03:01</string>
		<key>start</key>
		<string>02:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice any strong feelings that arise in your body.</string>
		<key>end</key>
		<string>03:08</string>
		<key>start</key>
		<string>03:01</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Allow those feelings to be as they are.</string>
		<key>end</key>
		<string>03:13</string>
		<key>start</key>
		<string>03:08</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Simply hold them in awareness, as you stay with your discomfort and breathe with it.</string>
		<key>end</key>
		<string>03:20</string>
		<key>start</key>
		<string>03:13</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>See if you can gently open up to it and make space for it.</string>
		<key>end</key>
		<string>03:30</string>
		<key>start</key>
		<string>03:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Accept and allow it to be as it is, while bringing compassionate and focused attention to the discomfort.</string>
		<key>end</key>
		<string>04:15</string>
		<key>start</key>
		<string>03:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If you notice yourself tensing up and resisting, pushing away from the experience, just acknowledge that and see if you can make some space for whatever you’re experiencing.</string>
		<key>end</key>
		<string>04:27</string>
		<key>start</key>
		<string>04:15</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Must this feeling or thought be your enemy?</string>
		<key>end</key>
		<string>04:31</string>
		<key>start</key>
		<string>04:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Or can you have it, notice it, and let it be?</string>
		<key>end</key>
		<string>04:39</string>
		<key>start</key>
		<string>04:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Can you make room for the discomfort, for the tension?</string>
		<key>end</key>
		<string>04:45</string>
		<key>start</key>
		<string>04:39</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>What does it really feel like, moment to moment, to have all of this experience?</string>
		<key>end</key>
		<string>04:50</string>
		<key>start</key>
		<string>04:45</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Is this something you must struggle with, or can you invite the discomfort in,</string>
		<key>end</key>
		<string>04:55</string>
		<key>start</key>
		<string>04:50</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>saying to yourself, "let me feel what there is to be felt because it is my experience right now."?</string>
		<key>end</key>
		<string>05:45</string>
		<key>start</key>
		<string>04:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If the sensations or discomfort grow stronger, acknowledge that and stay with them, breathing with them and accepting them.</string>
		<key>end</key>
		<string>05:55</string>
		<key>start</key>
		<string>05:45</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Can you bring openness to it, make space for it?</string>
		<key>end</key>
		<string>06:01</string>
		<key>start</key>
		<string>05:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Is there room inside you to feel that, with compassion and kindness towards yourself and your experience?</string>
		<key>end</key>
		<string>06:46</string>
		<key>start</key>
		<string>06:01</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you open up and embrace your experience you may notice your thoughts.</string>
		<key>end</key>
		<string>06:52</string>
		<key>start</key>
		<string>06:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>When that happens, invite them in too, opening to them as you become aware of them.</string>
		<key>end</key>
		<string>06:59</string>
		<key>start</key>
		<string>06:52</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You may also notice your mind coming up with judgmental labels such as "dangerous" or "getting worse."</string>
		<key>end</key>
		<string>07:07</string>
		<key>start</key>
		<string>06:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If that happens, you can simply thank your mind for the label and return to the present experience as it actually is, not as your minds says it is,</string>
		<key>end</key>
		<string>07:18</string>
		<key>start</key>
		<string>07:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>noticing thoughts as thoughts, physical sensations as physical sensations, feelings as feelings – nothing more, nothing less.</string>
		<key>end</key>
		<string>07:55</string>
		<key>start</key>
		<string>07:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Stay with your discomfort for as long as it pulls on your attention.</string>
		<key>end</key>
		<string>08:00</string>
		<key>start</key>
		<string>07:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If and when you sense that the discomfort is no longer pulling for your attention, let it go.</string>
		<key>end</key>
		<string>08:31</string>
		<key>start</key>
		<string>08:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you feel the time for practice coming to a close, you can gradually widen your attention to take in the sounds around you.</string>
		<key>end</key>
		<string>08:40</string>
		<key>start</key>
		<string>08:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then slowly open, or refocus, your eyes.</string>
		<key>end</key>
		<string>08:44</string>
		<key>start</key>
		<string>08:40</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Take your time before you go on with your day.</string>
		<key>end</key>
		<string>08:49</string>
		<key>start</key>
		<string>08:44</string>
	</dict>
</array>
</plist>
