<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>First, remove distractions - let others know not to bother you.</string>
		<key>end</key>
		<string>0:07</string>
		<key>start</key>
		<string>0:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Make yourself comfortable, so that your thoughts are on the image and nothing else.</string>
		<key>end</key>
		<string>0:13</string>
		<key>start</key>
		<string>0:09</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Sit, or lie down, in a quiet, comfortable place.</string>
		<key>end</key>
		<string>0:19</string>
		<key>start</key>
		<string>0:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then, mentally scan your body for tense muscles.</string>
		<key>end</key>
		<string>0:24</string>
		<key>start</key>
		<string>0:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If you find a muscle that's tense, or clenched, relax it.</string>
		<key>end</key>
		<string>0:29</string>
		<key>start</key>
		<string>0:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>During the imagery exercise, involve all of your senses in the image: sight, sound, smell, touch, and taste.</string>
		<key>end</key>
		<string>0:40</string>
		<key>start</key>
		<string>0:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Get completely focused.</string>
		<key>end</key>
		<string>0:43</string>
		<key>start</key>
		<string>0:41</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The more focused you are, the better.</string>
		<key>end</key>
		<string>0:45</string>
		<key>start</key>
		<string>0:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Close your eyes, or lower your gaze.</string>
		<key>end</key>
		<string>0:50</string>
		<key>start</key>
		<string>0:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>In your mind's eye, you see yourself descending down a long, narrow, wooden stairway, toward a beautiful, inviting beach.</string>
		<key>end</key>
		<string>1:01</string>
		<key>start</key>
		<string>0:51</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Your bare feet feel the rough, weathered step.</string>
		<key>end</key>
		<string>1:05</string>
		<key>start</key>
		<string>1:02</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And with each step, you feel more and more tension gently melting away from your body.</string>
		<key>end</key>
		<string>1:13</string>
		<key>start</key>
		<string>1:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you continue down the stairway, you notice the ocean is a deep shade of blue, with the fine, white crests of the waves sweeping towards the shore.</string>
		<key>end</key>
		<string>1:26</string>
		<key>start</key>
		<string>1:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You reach the end of the stairway, and step down, sinking into the warmth.</string>
		<key>end</key>
		<string>1:36</string>
		<key>start</key>
		<string>1:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you soak in the warmth of the sun, a soothing sensation of relaxation gently melts through your entire body.</string>
		<key>end</key>
		<string>1:45</string>
		<key>start</key>
		<string>1:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The gentle sounds of the water lapping up onto the beach calm your mind, and allow you to feel even more relaxed.</string>
		<key>end</key>
		<string>1:54</string>
		<key>start</key>
		<string>1:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You begin walking slowly towards the edge of the water, and feel the warm sun on your face and shoulders.</string>
		<key>end</key>
		<string>2:04</string>
		<key>start</key>
		<string>1:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The salty smell of the ocean air invigorates you, and you take in a deep breath.</string>
		<key>end</key>
		<string>2:12</string>
		<key>start</key>
		<string>2:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe slowly out, and feel more relaxed and refreshed.</string>
		<key>end</key>
		<string>2:19</string>
		<key>start</key>
		<string>2:12</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Finally, you reach the water's edge, and you gladly invite the little surges to flow over your toes and ankles.</string>
		<key>end</key>
		<string>2:28</string>
		<key>start</key>
		<string>2:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You watch the surges glide smoothly towards you, gently sweeping around your feet, and the trails of ocean water that flows slowly back out again.</string>
		<key>end</key>
		<string>2:40</string>
		<key>start</key>
		<string>2:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The cool water feels soft and comforting, as you enjoy a few moments, allowing yourself to gaze out on the far-reaching horizon.</string>
		<key>end</key>
		<string>2:51</string>
		<key>start</key>
		<string>2:42</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Overhead, you notice two birds gracefully soaring high above the ocean.</string>
		<key>end</key>
		<string>2:58</string>
		<key>start</key>
		<string>2:53</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And you can hear their soft cries becoming faint as they glide away.</string>
		<key>end</key>
		<string>3:04</string>
		<key>start</key>
		<string>2:58</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>All of these sights, sounds, and sensations allow you to relax and let go, more and more.</string>
		<key>end</key>
		<string>3:16</string>
		<key>start</key>
		<string>3:08</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>After a few moments, you begin slowly strolling down the beach, at the water's edge.</string>
		<key>end</key>
		<string>3:26</string>
		<key>start</key>
		<string>3:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You feel a warm, gentle breeze, pressing lightly against your back, and, with every step, you feel yourself relaxing, more and more.</string>
		<key>end</key>
		<string>3:37</string>
		<key>start</key>
		<string>3:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you walk down the beach, you notice the details of sights and sounds around you, and the soothing sensations of the sun, the gentle breeze, and the sand below your feet.</string>
		<key>end</key>
		<string>3:51</string>
		<key>start</key>
		<string>3:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you continue your leisurely walk down the beach, you notice a colorful beach chair, resting in a nice, peaceful spot, where the powdery, soft sand lies undisturbed.</string>
		<key>end</key>
		<string>4:09</string>
		<key>start</key>
		<string>3:56</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You approach this comfortable-looking beach chair, then you sit down, lie back, and settle in.</string>
		<key>end</key>
		<string>4:20</string>
		<key>start</key>
		<string>4:12</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You take in a long, deep breath, breathe slowly out, and feel even more relaxed and comfortable, resting in your chair.</string>
		<key>end</key>
		<string>4:31</string>
		<key>start</key>
		<string>4:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>For a few moments more, let yourself enjoy the sights and sounds of this beautiful day on the beach.</string>
		<key>end</key>
		<string>4:41</string>
		<key>start</key>
		<string>4:33</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>When you're ready, gently bring your attention back to the room, still letting yourself feel relaxed and comfortable, sitting where you are.</string>
		<key>end</key>
		<string>4:59</string>
		<key>start</key>
		<string>4:49</string>
	</dict>
</array>
</plist>
