<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>To prepare, get in a comfortable position. Sitting would be best for now, so that you can practice as you listen and watch the demonstration.</string>
		<key>end</key>
		<string>0:10</string>
		<key>start</key>
		<string>0:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Later, when you practice, you can do this exercise sitting, standing up, or lying down - whatever works for you.</string>
		<key>end</key>
		<string>0:18</string>
		<key>start</key>
		<string>0:10</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Although this exercise should be safe for almost anyone, if you have difficulty breathing, or feel out of breath, or begin to feel dizzy, nervous, or out of control, you can adjust your breathing pace, or go back to breathing normally.</string>
		<key>end</key>
		<string>0:32</string>
		<key>start</key>
		<string>0:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The goal is just to slow down a bit to allow your system to relax.</string>
		<key>end</key>
		<string>0:38</string>
		<key>start</key>
		<string>0:32</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Place one hand on your belly, and one on your chest.</string>
		<key>end</key>
		<string>0:43</string>
		<key>start</key>
		<string>0:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in by taking air deep into your belly - allow your belly to expand out while your shoulders and chest stay relaxed.</string>
		<key>end</key>
		<string>0:51</string>
		<key>start</key>
		<string>0:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now breathe out, slowly, allowing the air you exhale to deflate your belly.</string>
		<key>end</key>
		<string>0:57</string>
		<key>start</key>
		<string>0:51</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Pause naturally.</string>
		<key>end</key>
		<string>0:59</string>
		<key>start</key>
		<string>0:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in, taking air deep into your belly. Allow your belly to expand; shoulders and chest stay relaxed.</string>
		<key>end</key>
		<string>1:06</string>
		<key>start</key>
		<string>0:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now breathe out, slowly, but naturally.</string>
		<key>end</key>
		<string>1:12</string>
		<key>start</key>
		<string>1:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in, taking air deep into your belly.</string>
		<key>end</key>
		<string>1:15</string>
		<key>start</key>
		<string>1:12</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Think the number "1"</string>
		<key>end</key>
		<string>1:17</string>
		<key>start</key>
		<string>1:15</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now exhale all of the air, and think the word "Relax".</string>
		<key>end</key>
		<string>1:24</string>
		<key>start</key>
		<string>1:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in, taking air deep into your belly, and think the number "2".</string>
		<key>end</key>
		<string>1:32</string>
		<key>start</key>
		<string>1:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now exhale all of the air, and think the word "Relax".</string>
		<key>end</key>
		<string>1:38</string>
		<key>start</key>
		<string>1:32</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in - think the number "3".</string>
		<key>end</key>
		<string>1:45</string>
		<key>start</key>
		<string>1:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now exhale - think the word "Relax".</string>
		<key>end</key>
		<string>1:53</string>
		<key>start</key>
		<string>1:45</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>1:57</string>
		<key>start</key>
		<string>1:53</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Think the number "4".</string>
		<key>end</key>
		<string>2:00</string>
		<key>start</key>
		<string>1:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now breathe out, slowly - think the word "Relax".</string>
		<key>end</key>
		<string>2:07</string>
		<key>start</key>
		<string>2:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>2:12</string>
		<key>start</key>
		<string>2:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Five.</string>
		<key>end</key>
		<string>2:15</string>
		<key>start</key>
		<string>2:12</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>2:18</string>
		<key>start</key>
		<string>2:15</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>2:21</string>
		<key>start</key>
		<string>2:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>2:25</string>
		<key>start</key>
		<string>2:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Six.</string>
		<key>end</key>
		<string>2:28</string>
		<key>start</key>
		<string>2:25</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>2:31</string>
		<key>start</key>
		<string>2:28</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>2:35</string>
		<key>start</key>
		<string>2:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>2:40</string>
		<key>start</key>
		<string>2:35</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Seven.</string>
		<key>end</key>
		<string>2:42</string>
		<key>start</key>
		<string>2:40</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>2:46</string>
		<key>start</key>
		<string>2:42</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>2:50</string>
		<key>start</key>
		<string>2:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>2:53</string>
		<key>start</key>
		<string>2:50</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Eight.</string>
		<key>end</key>
		<string>2:56</string>
		<key>start</key>
		<string>2:53</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>3:00</string>
		<key>start</key>
		<string>2:56</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>3:02</string>
		<key>start</key>
		<string>3:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Counting backwards now, breathe in.</string>
		<key>end</key>
		<string>3:07</string>
		<key>start</key>
		<string>3:02</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Eight.</string>
		<key>end</key>
		<string>3:10</string>
		<key>start</key>
		<string>3:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>3:14</string>
		<key>start</key>
		<string>3:10</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>3:17</string>
		<key>start</key>
		<string>3:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>3:22</string>
		<key>start</key>
		<string>3:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Seven.</string>
		<key>end</key>
		<string>3:24</string>
		<key>start</key>
		<string>3:22</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>3:28</string>
		<key>start</key>
		<string>3:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>3:31</string>
		<key>start</key>
		<string>3:28</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in slowly, deeply.</string>
		<key>end</key>
		<string>3:36</string>
		<key>start</key>
		<string>3:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Think the number "6".</string>
		<key>end</key>
		<string>3:38</string>
		<key>start</key>
		<string>3:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out slowly, all the way.</string>
		<key>end</key>
		<string>3:43</string>
		<key>start</key>
		<string>3:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>3:45</string>
		<key>start</key>
		<string>3:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>3:50</string>
		<key>start</key>
		<string>3:45</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Five.</string>
		<key>end</key>
		<string>3:53</string>
		<key>start</key>
		<string>3:50</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>3:56</string>
		<key>start</key>
		<string>3:53</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>3:59</string>
		<key>start</key>
		<string>3:56</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>4:04</string>
		<key>start</key>
		<string>3:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Four.</string>
		<key>end</key>
		<string>4:06</string>
		<key>start</key>
		<string>4:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>4:10</string>
		<key>start</key>
		<string>4:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>4:13</string>
		<key>start</key>
		<string>4:10</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in - focus on your breath, and the number "3".</string>
		<key>end</key>
		<string>4:21</string>
		<key>start</key>
		<string>4:13</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out, all the way - relax.</string>
		<key>end</key>
		<string>4:26</string>
		<key>start</key>
		<string>4:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in.</string>
		<key>end</key>
		<string>4:32</string>
		<key>start</key>
		<string>4:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Two.</string>
		<key>end</key>
		<string>4:35</string>
		<key>start</key>
		<string>4:32</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe out.</string>
		<key>end</key>
		<string>4:38</string>
		<key>start</key>
		<string>4:35</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>4:41</string>
		<key>start</key>
		<string>4:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe in, for the last time.</string>
		<key>end</key>
		<string>4:47</string>
		<key>start</key>
		<string>4:41</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Think the number "1", and breathe out.</string>
		<key>end</key>
		<string>4:52</string>
		<key>start</key>
		<string>4:47</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax.</string>
		<key>end</key>
		<string>4:55</string>
		<key>start</key>
		<string>4:52</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Good job.</string>
		<key>end</key>
		<string>4:56</string>
		<key>start</key>
		<string>4:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Even as you end this exercise, you can continue to allow your breathing to be deeper and slower. Take your time as you open your eyes, and bring your attention back to your surroundings.</string>
		<key>end</key>
		<string>5:06</string>
		<key>start</key>
		<string>4:56</string>
	</dict>
</array>
</plist>
