<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Start with just standing still and noticing the sensations in your body:</string>
		<key>end</key>
		<string>00:06</string>
		<key>start</key>
		<string>00:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>your feet on the ground, your balance, and where you are.</string>
		<key>end</key>
		<string>00:17</string>
		<key>start</key>
		<string>00:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice your breathing – the natural flow of your breath, in and out, in and out.</string>
		<key>end</key>
		<string>00:43</string>
		<key>start</key>
		<string>00:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now, slowly begin to walk, noticing the sensations experienced by your feet as they touch the ground, sensing each part of your foot as it bends and moves as you take each step.</string>
		<key>end</key>
		<string>01:06</string>
		<key>start</key>
		<string>00:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to walk slowly and as you walk, bring your full awareness to the sensations of walking, letting each foot land gently and purposefully.</string>
		<key>end</key>
		<string>01:20</string>
		<key>start</key>
		<string>01:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice the rhythm of your steps and how your body feels as it moves.</string>
		<key>end</key>
		<string>02:03</string>
		<key>start</key>
		<string>01:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you walk, if your attention wanders to other things, just notice that.</string>
		<key>end</key>
		<string>02:09</string>
		<key>start</key>
		<string>02:03</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then, gently bring your attention back to the experience of walking.</string>
		<key>end</key>
		<string>02:42</string>
		<key>start</key>
		<string>02:09</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you walk, notice each step, feeling your feet as they meet the ground.</string>
		<key>end</key>
		<string>02:59</string>
		<key>start</key>
		<string>02:42</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You can also bring your attention to your legs and knees, noticing the sensations that you experience there.</string>
		<key>end</key>
		<string>03:07</string>
		<key>start</key>
		<string>02:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If you like, move your awareness to your hip area. Take time to notice the sensations you experience as you focus your attention on your hips.</string>
		<key>end</key>
		<string>03:30</string>
		<key>start</key>
		<string>03:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Remember to take your time walking, so that you can fully notice your experience and sensations.</string>
		<key>end</key>
		<string>03:40</string>
		<key>start</key>
		<string>03:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now feel free to move your attention further up to your midsection, and allow yourself to feel all the sensations there.</string>
		<key>end</key>
		<string>04:00</string>
		<key>start</key>
		<string>03:40</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You can also bring your attention to your shoulders, arms, and hands.</string>
		<key>end</key>
		<string>04:05</string>
		<key>start</key>
		<string>04:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Here again, notice any sensation, movement, or rhythm in your stride.</string>
		<key>end</key>
		<string>04:30</string>
		<key>start</key>
		<string>04:05</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You may notice the feel of your neck and head as your feet meet the ground with each step.</string>
		<key>end</key>
		<string>04:37</string>
		<key>start</key>
		<string>04:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now focus your attention on your head and neck.  Notice any sensations that you experience in this area of your body as you move.</string>
		<key>end</key>
		<string>04:48</string>
		<key>start</key>
		<string>04:37</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Do you feel any difference in sensations there as you walk?</string>
		<key>end</key>
		<string>05:04</string>
		<key>start</key>
		<string>04:48</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now bring your attention back to the sensations and movement of your feet as you continue to walk.</string>
		<key>end</key>
		<string>06:14</string>
		<key>start</key>
		<string>05:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If you notice that you are starting to walk more quickly, slow your pace to become more aware of every aspect of the experience of taking a step.</string>
		<key>end</key>
		<string>07:33</string>
		<key>start</key>
		<string>06:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to walk for as long as you like.</string>
		<key>end</key>
		<string>07:37</string>
		<key>start</key>
		<string>07:33</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>When you are finished, stand for a moment and bring your attention to your breath, noticing how your chest and belly naturally rise and fall as you breathe.</string>
		<key>end</key>
		<string>07:48</string>
		<key>start</key>
		<string>07:37</string>
	</dict>
</array>
</plist>
