<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Please note that if you have injuries such as back pain or a knee injury, you should avoid tensing muscles that might affect that injury.</string>
		<key>end</key>
		<string>0:10</string>
		<key>start</key>
		<string>0:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>To begin, close  your eyes, and take a deep breath into your belly.</string>
		<key>end</key>
		<string>0:14</string>
		<key>start</key>
		<string>0:10</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then exhale with a sigh.</string>
		<key>end</key>
		<string>0:17</string>
		<key>start</key>
		<string>0:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Again, take a deep breath, and imagine clean air going down your throat, and filling your lungs, and then exhale with a sigh.</string>
		<key>end</key>
		<string>0:27</string>
		<key>start</key>
		<string>0:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Take another deep breath, and as you release it, think the word "Relax", silently to yourself.</string>
		<key>end</key>
		<string>0:35</string>
		<key>start</key>
		<string>0:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Allow your breath to be smooth and rhythmic, inhaling and exhaling at a pace that is comfortable for you.</string>
		<key>end</key>
		<string>0:43</string>
		<key>start</key>
		<string>0:35</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you continue to breathe, continue to say the word "Relax" to yourself, slowly and calmly, each time you breathe out.</string>
		<key>end</key>
		<string>0:52</string>
		<key>start</key>
		<string>0:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you do this, imagine that the tension throughout your body begins to melt away.</string>
		<key>end</key>
		<string>0:59</string>
		<key>start</key>
		<string>0:52</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>To begin, clench both your fists, and bend your elbows, drawing your forearms and hands up towards your shoulders, tightening your biceps to do so.</string>
		<key>end</key>
		<string>1:09</string>
		<key>start</key>
		<string>0:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Hold the muscles in your hands and arms tight, and notice the sensations of pulling, discomfort, and tightness.</string>
		<key>end</key>
		<string>1:17</string>
		<key>start</key>
		<string>1:09</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Hold the tension, while you take a deep breath into your belly, and then slowly exhale, as you release the muscles of your hands and arms.</string>
		<key>end</key>
		<string>1:26</string>
		<key>start</key>
		<string>1:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Let your hands and fingers relax completely, and let your arms become limp at your side or in your lap.</string>
		<key>end</key>
		<string>1:33</string>
		<key>start</key>
		<string>1:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the sensation of relaxation, as the tension drains away from your arms and hands, and allow the muscles to become looser and looser.</string>
		<key>end</key>
		<string>1:43</string>
		<key>start</key>
		<string>1:33</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You may notice that they feel lighter and warmer.</string>
		<key>end</key>
		<string>1:47</string>
		<key>start</key>
		<string>1:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathing in slowly, and out, thinking the word "Relax" each time you breathe out.</string>
		<key>end</key>
		<string>1:55</string>
		<key>start</key>
		<string>1:47</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now bring your attention to your face, and tighten your forehead, the muscles around your eyes and your jaw, by squeezing your eyes tight, clenching your jaw, and wrinkling your forehead and nose.</string>
		<key>end</key>
		<string>2:09</string>
		<key>start</key>
		<string>1:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the wrinkling and pulling sensations across the forehead and the top of your head.</string>
		<key>end</key>
		<string>2:15</string>
		<key>start</key>
		<string>2:09</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the tightness around your eyes and cheeks, and the tension in your jaw.</string>
		<key>end</key>
		<string>2:19</string>
		<key>start</key>
		<string>2:15</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Hold that tension, and take a deep breath into your belly, and then slowly exhale, as you let your face relax completely.</string>
		<key>end</key>
		<string>2:30</string>
		<key>start</key>
		<string>2:19</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the muscles in your forehead becoming smooth and limp, the muscles of your cheeks and eyes softening, and your jaw relaxing. Let your lips part slightly, and let your jaw hang loose.</string>
		<key>end</key>
		<string>2:45</string>
		<key>start</key>
		<string>2:30</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice the tension melting away. Feel your muscles becoming softer, more relaxed, and feel the warmth and lightness that replaces the tension that was there before.</string>
		<key>end</key>
		<string>2:57</string>
		<key>start</key>
		<string>2:45</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to breathe slowly and gently, thinking the word "Relax" each time you exhale.</string>
		<key>end</key>
		<string>3:06</string>
		<key>start</key>
		<string>2:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Tighten your shoulders by raising them up as if you were going to touch them to your ears, tensing without straining. </string>
		<key>end</key>
		<string>3:14</string>
		<key>start</key>
		<string>3:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the tension in your shoulders radiating down into your back and up into your neck and the top of your back. Hold that. Notice those sensations and take a deep breath into your belly, and then slowly exhale as you relax your shoulders. </string>
		<key>end</key>
		<string>3:31</string>
		<key>start</key>
		<string>3:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Let your shoulders droop down and let your neck relax completely, feeling very relaxed</string>
		<key>end</key>
		<string>3:38</string>
		<key>start</key>
		<string>3:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice the contrast between the tightness you felt and the relaxation you feel now. </string>
		<key>end</key>
		<string>3:44</string>
		<key>start</key>
		<string>3:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Let your head relax, as if there's nothing holding it except the support behind it. Feel the sense of relaxation around your neck and shoulders as you let the tension drain away</string>
		<key>end</key>
		<string>3:56</string>
		<key>start</key>
		<string>3:44</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to breathe slowly and deeply.</string>
		<key>end</key>
		<string>4:02</string>
		<key>start</key>
		<string>3:56</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now bring your attention to your stomach.</string>
		<key>end</key>
		<string>4:05</string>
		<key>start</key>
		<string>4:02</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Tighten the muscles of your stomach by pulling your belly in towards your spine tightly. </string>
		<key>end</key>
		<string>4:12</string>
		<key>start</key>
		<string>4:05</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Hold that pose. </string>
		<key>end</key>
		<string>4:14</string>
		<key>start</key>
		<string>4:12</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the sensation of the tension. Hold it while you are taking a deep breath, and then slowly exhale as you relax your muscles. </string>
		<key>end</key>
		<string>4:24</string>
		<key>start</key>
		<string>4:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Imagine a wave of relaxation spreading through your belly. Allow the muscles of your stomach to be soft and relaxed, letting go more and more.</string>
		<key>end</key>
		<string>4:36</string>
		<key>start</key>
		<string>4:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice the difference between the tension you felt and the relaxation you feel now. Let any remaining tension melt away, continuing to breathe gently in and out, feeling yourself become calmer and more relaxed.</string>
		<key>end</key>
		<string>4:53</string>
		<key>start</key>
		<string>4:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now tighten your buttocks by squeezing them together, and at the same time squeeze the muscles of your thighs. You can lift your feet up to help tense your leg muscles. Notice the sensations of pulling, tightness, and constriction.</string>
		<key>end</key>
		<string>5:11</string>
		<key>start</key>
		<string>4:53</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Hold on to that tension, and focus on it, and take a deep breath. Then slowly exhale as you relax your buttocks and thighs.</string>
		<key>end</key>
		<string>5:20</string>
		<key>start</key>
		<string>5:11</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Allow your muscles to relax completely, and to let any tension drain away, melting away.</string>
		<key>end</key>
		<string>5:29</string>
		<key>start</key>
		<string>5:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel how the muscles of your hips and legs feel different now than when they did when you were clenching them.</string>
		<key>end</key>
		<string>5:36</string>
		<key>start</key>
		<string>5:29</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Really notice the difference. Continue to let go further and further, experiencing an even deeper relaxation, breathing in and out, slowly and gently, in and out.</string>
		<key>end</key>
		<string>5:53</string>
		<key>start</key>
		<string>5:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now tighten the muscles of your calves and your feet as you flex your feet, pulling your toes towards you. </string>
		<key>end</key>
		<string>6:00</string>
		<key>start</key>
		<string>5:53</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Flex these muscles carefully to avoid a cramp.</string>
		<key>end</key>
		<string>6:04</string>
		<key>start</key>
		<string>6:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to flex your feet, feeling the muscles of your calves, feet, and toes tighten and pull. Hold the tension for another second and take a deep breath. And now, slowly, exhale, release. </string>
		<key>end</key>
		<string>6:20</string>
		<key>start</key>
		<string>6:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As your muscles relax, notice how the sensations in your calves and feet change, perhaps feeling softer, or warmer, or lighter. Really notice how the sensations of tension are different from the sensations of relaxation you are now experiencing. </string>
		<key>end</key>
		<string>6:39</string>
		<key>start</key>
		<string>6:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>With each breath, allow more tension to drain from your calves, relaxing more and more deeply. </string>
		<key>end</key>
		<string>6:46</string>
		<key>start</key>
		<string>6:39</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to breathe slowly, thinking the word "Relax" each time you exhale, continuing to let any remaining tension drain away, breathing in, and out, in, and out.</string>
		<key>end</key>
		<string>7:02</string>
		<key>start</key>
		<string>6:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Relax, relax.</string>
		<key>end</key>
		<string>7:07</string>
		<key>start</key>
		<string>7:02</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now that your whole body is feeling relaxed and comfortable, feel that sense of warmth and calmness spread over your whole body, continuing to breathe naturally, smoothly and steadily, letting the breath in and out, slowly and regularly, thinking the word "relax", every time you breathe out, breathing in, and out, in, and out. </string>
		<key>end</key>
		<string>7:39</string>
		<key>start</key>
		<string>7:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you continue to breathe, imagine a wave of relaxation slowly spreading throughout your body. </string>
		<key>end</key>
		<string>7:46</string>
		<key>start</key>
		<string>7:39</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Starting at your head and gradually penetrating all of your muscles, all of the cells in your body, all the way down to your toes.</string>
		<key>end</key>
		<string>7:55</string>
		<key>start</key>
		<string>7:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Allow yourself to relax completely, continuing to breathe slowly and smoothly, sinking into that feeling of relaxation and noticing how it feels, so that you will be able to access it and recreate it later on your own.</string>
		<key>end</key>
		<string>8:13</string>
		<key>start</key>
		<string>7:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>In a moment, I'm going to count from 5 to 1. As I do, you will gradually feel more and more alert. When I get to 3, open your eyes, and when I get to 1, you will feel alert and refreshed and ready for the rest of your day.</string>
		<key>end</key>
		<string>8:32</string>
		<key>start</key>
		<string>8:13</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>5, 4, beginning to shift your body, feeling a bit more awake now, 3, opening your eyes, 2, a bit more awake now, 1.</string>
		<key>end</key>
		<string>8:48</string>
		<key>start</key>
		<string>8:32</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now you are feeling refreshed and alert, relaxed and ready for whatever is next. </string>
		<key>end</key>
		<string>8:55</string>
		<key>start</key>
		<string>8:48</string>
	</dict>
</array>
</plist>
