<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Now we'll practice a mindfulness exercise using some visualization to help watch what happens with our thoughts.</string>
		<key>end</key>
		<string>00:08</string>
		<key>start</key>
		<string>00:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>I'd like you to start by taking a few deep breaths </string>
		<key>end</key>
		<string>00:14</string>
		<key>start</key>
		<string>00:08</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>watching the flow of your breath as you breathe in and out.  </string>
		<key>end</key>
		<string>00:27</string>
		<key>start</key>
		<string>00:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>One more time, in and out, and notice the feeling of your body in the chair.  </string>
		<key>end</key>
		<string>00:39</string>
		<key>start</key>
		<string>00:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice exactly the position that your body is in.  </string>
		<key>end</key>
		<string>00:42</string>
		<key>start</key>
		<string>00:39</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And if you notice any sensations of tension see if you can imagine your breath as it flows in and swirls around in those areas of tension and then you breathe it out.  </string>
		<key>end</key>
		<string>00:59</string>
		<key>start</key>
		<string>00:42</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And now that you're grounded and centered here in the moment, let's see if we can practice becoming mindful of the range of thoughts that might go through your mind at any given time.</string>
		<key>end</key>
		<string>01:11</string>
		<key>start</key>
		<string>00:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>So if you're willing, I'd like you to try to imagine that you're looking up into the sky and it's a bright blue sky.  </string>
		<key>end</key>
		<string>01:21</string>
		<key>start</key>
		<string>01:11</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And maybe you even feel the sensation of the air, maybe a light wind passing by, and you can feel that air move across your skin.  </string>
		<key>end</key>
		<string>01:41</string>
		<key>start</key>
		<string>01:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And as you look up into that bright blue sky you start to notice that there are large white puffy clouds that move from one side of the sky to the other.  </string>
		<key>end</key>
		<string>01:55</string>
		<key>start</key>
		<string>01:41</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>One after another, there's a large white cloud and it appears in one edge of your vision, moves across the sky and then passes out of your vision on the other side.  </string>
		<key>end</key>
		<string>02:16</string>
		<key>start</key>
		<string>01:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And after one cloud make its movement across the sky then another cloud comes and does the same.  </string>
		<key>end</key>
		<string>02:24</string>
		<key>start</key>
		<string>02:16</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And they keep coming, one after another, moving across the sky.  </string>
		<key>end</key>
		<string>02:36</string>
		<key>start</key>
		<string>02:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>So I'd like you to watch that sequence of events for a moment and as you see the clouds moving across, I'd like you to now begin becoming aware of the thoughts that might be going through your mind.  </string>
		<key>end</key>
		<string>02:50</string>
		<key>start</key>
		<string>02:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Just go ahead and take whatever the first thought is that comes to your mind and see if you can take that thought and place it on one of the clouds and just let the cloud flow by.  </string>
		<key>end</key>
		<string>03:14</string>
		<key>start</key>
		<string>02:50</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And then do the same thing with the next thought that comes to your mind. </string>
		<key>end</key>
		<string>03:18</string>
		<key>start</key>
		<string>03:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And it doesn't have to be thoughts, it could be sensations or feelings that you're having, just whatever the next thing is that you experience.  </string>
		<key>end</key>
		<string>03:27</string>
		<key>start</key>
		<string>03:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Take it and place it on a cloud and let it flow by.  </string>
		<key>end</key>
		<string>03:44</string>
		<key>start</key>
		<string>03:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You might choose to represent those thoughts or experiences as one word that you put on the cloud or it might be an image or some other way of representing whatever it is that you are experiencing.  </string>
		<key>end</key>
		<string>03:56</string>
		<key>start</key>
		<string>03:44</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There's no right or wrong way to do it.   </string>
		<key>end</key>
		<string>04:00</string>
		<key>start</key>
		<string>03:56</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Simply practice noticing whatever is there for you, in turn placing each one on a cloud and letting it move past.  </string>
		<key>end</key>
		<string>04:29</string>
		<key>start</key>
		<string>04:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The form of the practice isn't what's important; it's the process, </string>
		<key>end</key>
		<string>04:33</string>
		<key>start</key>
		<string>04:29</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>so if you find yourself becoming distracted or thinking that you can't do this then as soon as you notice that thought go ahead and take  that thought and place it on a cloud, watch it go by and return to the process.   </string>
		<key>end</key>
		<string>04:50</string>
		<key>start</key>
		<string>04:33</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You might even have to do that over and over again.  And that's OK.  </string>
		<key>end</key>
		<string>04:54</string>
		<key>start</key>
		<string>04:50</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There's no end point.  </string>
		<key>end</key>
		<string>04:57</string>
		<key>start</key>
		<string>04:54</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>It's just an opportunity to practice being mindful of your thoughts and to detach from them rather than becoming hooked on them or buying into them.  </string>
		<key>end</key>
		<string>05:06</string>
		<key>start</key>
		<string>04:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>And now I'll be quiet for a moment while you continue to practice.  </string>
		<key>end</key>
		<string>06:09</string>
		<key>start</key>
		<string>05:06</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Go ahead and notice one last thought or experience.</string>
		<key>end</key>
		<string>06:14</string>
		<key>start</key>
		<string>06:09</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Place it on a cloud and let the cloud trail by while you bring your awareness back here to this moment.  </string>
		<key>end</key>
		<string>06:25</string>
		<key>start</key>
		<string>06:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice any sensations in your body.  </string>
		<key>end</key>
		<string>06:34</string>
		<key>start</key>
		<string>06:25</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice the sensation of breathing</string>
		<key>end</key>
		<string>06:41</string>
		<key>start</key>
		<string>06:34</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>I'd like you to take two more deep breaths </string>
		<key>end</key>
		<string>06:50</string>
		<key>start</key>
		<string>06:41</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>and whenever you're ready you can open your eyes.</string>
		<key>end</key>
		<string>06:53</string>
		<key>start</key>
		<string>06:50</string>
	</dict>
</array>
</plist>
