<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>First, remove all distractions - let others know not to bother you.</string>
		<key>end</key>
		<string>0:07</string>
		<key>start</key>
		<string>0:01</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Make yourself comfortable, so that your thoughts are on the image and nothing else.</string>
		<key>end</key>
		<string>0:13</string>
		<key>start</key>
		<string>0:08</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Sit, or lie down, in a quiet, comfortable place.</string>
		<key>end</key>
		<string>0:19</string>
		<key>start</key>
		<string>0:14</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Mentally scan your body for tense muscles.</string>
		<key>end</key>
		<string>0:23</string>
		<key>start</key>
		<string>0:20</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If you find a muscle is tense, or clenched, relax it.</string>
		<key>end</key>
		<string>0:30</string>
		<key>start</key>
		<string>0:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>During the imagery exercise, involve all of your senses in the image: sight, sound, smell, touch, and taste.</string>
		<key>end</key>
		<string>0:43</string>
		<key>start</key>
		<string>0:32</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Get completely focused.</string>
		<key>end</key>
		<string>0:45</string>
		<key>start</key>
		<string>0:44</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The more focused you are, the better.</string>
		<key>end</key>
		<string>0:50</string>
		<key>start</key>
		<string>0:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Close your eyes, or lower your gaze.</string>
		<key>end</key>
		<string>0:56</string>
		<key>start</key>
		<string>0:52</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Imagine that you are walking down a path, into a lush forest.</string>
		<key>end</key>
		<string>1:02</string>
		<key>start</key>
		<string>0:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you walk along the path, you completely take in the sights, sounds, smells, and feel of the place.</string>
		<key>end</key>
		<string>1:14</string>
		<key>start</key>
		<string>1:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>All around you are trees, grasses, mossy ground cover, and fragrant flowers. </string>
		<key>end</key>
		<string>1:24</string>
		<key>start</key>
		<string>1:15</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You hear the soothing sounds of birds chirping, and the wind as it gently blows through the treetops.</string>
		<key>end</key>
		<string>1:36</string>
		<key>start</key>
		<string>1:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You smell the rich dampness of the forest floor, the smells of moist vegetation and new growth.</string>
		<key>end</key>
		<string>1:48</string>
		<key>start</key>
		<string>1:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Through gaps in the treetops, you see the sun high in the cloudless blue sky.</string>
		<key>end</key>
		<string>1:57</string>
		<key>start</key>
		<string>1:50</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The sun is dispersed through the canopy of the treetops and filters down onto the forest floor, creating intricate patterns of light and shadow.</string>
		<key>end</key>
		<string>2:13</string>
		<key>start</key>
		<string>2:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>With each breath you take in this place, you feel a deep sense of peace and relaxation.</string>
		<key>end</key>
		<string>2:24</string>
		<key>start</key>
		<string>2:16</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You soon come to a clearing.</string>
		<key>end</key>
		<string>2:29</string>
		<key>start</key>
		<string>2:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There are several flat rocks in the clearing surrounded by a soft moss. </string>
		<key>end</key>
		<string>2:36</string>
		<key>start</key>
		<string>2:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>A small stream runs along the rocks. </string>
		<key>end</key>
		<string>2:41</string>
		<key>start</key>
		<string>2:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You lie back on one of the rocks, or on the cushiony moss, and put your feet into the cool water. </string>
		<key>end</key>
		<string>2:52</string>
		<key>start</key>
		<string>2:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You feel the warm sun and a gentle, light breeze through your hair and across your skin. </string>
		<key>end</key>
		<string>3:04</string>
		<key>start</key>
		<string>2:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The sparkling clear water rushes around the multi-colored rocks, making little whirlpools and eddies. </string>
		<key>end</key>
		<string>3:15</string>
		<key>start</key>
		<string>3:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You put your hand into the water and lift a handful to your lips. </string>
		<key>end</key>
		<string>3:22</string>
		<key>start</key>
		<string>3:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The water is cool and refreshing. </string>
		<key>end</key>
		<string>3:27</string>
		<key>start</key>
		<string>3:23</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You close your eyes and listen to the water trickling around the rocks. You bathe in the warm sun, and feel as though you&apos;re floating, relaxing deeper and deeper.</string>
		<key>end</key>
		<string>3:43</string>
		<key>start</key>
		<string>3:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You let yourself sink further into relaxation while continuing to be aware of the sights, smells, sounds, and feel of the forest around you.</string>
		<key>end</key>
		<string>3:59</string>
		<key>start</key>
		<string>3:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You allow yourself to let go of any concerns or worries, and to feel completely refreshed and rejuvenated in this place.</string>
		<key>end</key>
		<string>4:12</string>
		<key>start</key>
		<string>4:02</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>When you&apos;re ready, imagine that you slowly get up and leave the clearing. </string>
		<key>end</key>
		<string>4:23</string>
		<key>start</key>
		<string>4:16</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you walk back down the path through the forest, fully take in this place, and realize that you may return whenever you wish by the same path.</string>
		<key>end</key>
		<string>4:37</string>
		<key>start</key>
		<string>4:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Each time you enter this place, you will feel relaxed and at peace.</string>
		<key>end</key>
		<string>4:44</string>
		<key>start</key>
		<string>4:38</string>
	</dict>
</array>
</plist>
