<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>First, remove distractions - let others know not to bother you.</string>
		<key>end</key>
		<string>0:07</string>
		<key>start</key>
		<string>0:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Make yourself comfortable, so that your thoughts are on the image and nothing else.</string>
		<key>end</key>
		<string>0:12</string>
		<key>start</key>
		<string>0:08</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Sit, or lie down, in a quiet, comfortable place, then, mentally scan your body for tense muscles.</string>
		<key>end</key>
		<string>0:21</string>
		<key>start</key>
		<string>0:13</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>If you find a muscle is tense, or clenched, relax it.</string>
		<key>end</key>
		<string>0:25</string>
		<key>start</key>
		<string>0:22</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>During the imagery exercise, involve all of your senses in the image: sight, sound, smell, touch, and taste.</string>
		<key>end</key>
		<string>0:35</string>
		<key>start</key>
		<string>0:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Get completely focused.</string>
		<key>end</key>
		<string>0:38</string>
		<key>start</key>
		<string>0:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The more focused you are, the better.</string>
		<key>end</key>
		<string>0:41</string>
		<key>start</key>
		<string>0:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Imagine yourself walking along an old country road. The sun is warm on your back, the birds are singing, the air is calm and fragrant.</string>
		<key>end</key>
		<string>0:54</string>
		<key>start</key>
		<string>0:44</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>After a few steps, you come across an old gate.</string>
		<key>end</key>
		<string>0:58</string>
		<key>start</key>
		<string>0:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The gate creaks as you open it and go through.</string>
		<key>end</key>
		<string>1:02</string>
		<key>start</key>
		<string>0:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You find yourself in an overgrown garden, flowers growing where they have seeded themselves, vines climbing over a fallen tree, green grass, and shade trees.</string>
		<key>end</key>
		<string>1:14</string>
		<key>start</key>
		<string>1:03</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Breathe deeply, smelling the flowers.</string>
		<key>end</key>
		<string>1:18</string>
		<key>start</key>
		<string>1:15</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Listen to the birds and insects.</string>
		<key>end</key>
		<string>1:21</string>
		<key>start</key>
		<string>1:19</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Feel the gentle breeze, warm against your skin.</string>
		<key>end</key>
		<string>1:26</string>
		<key>start</key>
		<string>1:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You walk leisurely up a gentle slope behind the garden, and come to a wooded area, where the trees become denser.</string>
		<key>end</key>
		<string>1:35</string>
		<key>start</key>
		<string>1:27</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The sun is filtered through the leaves.</string>
		<key>end</key>
		<string>1:40</string>
		<key>start</key>
		<string>1:37</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The air feels mild, and a bit cooler.</string>
		<key>end</key>
		<string>1:43</string>
		<key>start</key>
		<string>1:40</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You become aware of the sound of a nearby brook.</string>
		<key>end</key>
		<string>1:47</string>
		<key>start</key>
		<string>1:44</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You breathe deeply of the cool and fragrant air several times, and with each breath, you feel more relaxed.</string>
		<key>end</key>
		<string>1:58</string>
		<key>start</key>
		<string>1:49</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Soon, you come upon the brook.</string>
		<key>end</key>
		<string>2:03</string>
		<key>start</key>
		<string>2:01</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>It's clear and clean as it tumbles over the rocks and some fallen logs.</string>
		<key>end</key>
		<string>2:11</string>
		<key>start</key>
		<string>2:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You follow the path along the brook for aways. </string>
		<key>end</key>
		<string>2:17</string>
		<key>start</key>
		<string>2:13</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>The path takes you out into a sunlit clearing where you discover a small and picturesque waterfall.</string>
		<key>end</key>
		<string>2:25</string>
		<key>start</key>
		<string>2:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There's a rainbow in the mist.</string>
		<key>end</key>
		<string>2:29</string>
		<key>start</key>
		<string>2:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You find a comfortable place to sit for awhile, a perfect spot where you can feel completely relaxed.</string>
		<key>end</key>
		<string>2:43</string>
		<key>start</key>
		<string>2:35</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You feel good, as you allow yourself to just enjoy the warmth and solitude of this peaceful place.</string>
		<key>end</key>
		<string>2:54</string>
		<key>start</key>
		<string>2:47</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>It's now time to return.</string>
		<key>end</key>
		<string>3:02</string>
		<key>start</key>
		<string>3:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You walk back down the path, through the cool trees, out into the sun-drenched overgrown garden, one last smell of the flowers, and out the creaky gate.</string>
		<key>end</key>
		<string>3:23</string>
		<key>start</key>
		<string>3:04</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You leave this secret retreat, for now, and return down the country road.</string>
		<key>end</key>
		<string>3:32</string>
		<key>start</key>
		<string>3:26</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then, back to the room, slowly open your eyes, and remember, you can visit this place whenever you wish.</string>
		<key>end</key>
		<string>3:48</string>
		<key>start</key>
		<string>3:34</string>
	</dict>
</array>
</plist>
