<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Start this exercise by sitting comfortably in a chair with your feet squarely on the floor.</string>
		<key>end</key>
		<string>00:07</string>
		<key>start</key>
		<string>00:00</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Sit with your posture firm, but not rigid.</string>
		<key>end</key>
		<string>00:11</string>
		<key>start</key>
		<string>00:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Make sure your head feels centered over your shoulders and place your arms in a comfortable position at your sides or on your lap. </string>
		<key>end</key>
		<string>00:21</string>
		<key>start</key>
		<string>00:11</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>This posture helps you stay alert and focused. </string>
		<key>end</key>
		<string>00:28</string>
		<key>start</key>
		<string>00:21</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now, gently close your eyes, or locate a place in front of you where you can let your eyes rest, like the floor or a wall.</string>
		<key>end</key>
		<string>00:38</string>
		<key>start</key>
		<string>00:28</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Gently bring your attention to the natural rhythm of your breathing.</string>
		<key>end</key>
		<string>00:45</string>
		<key>start</key>
		<string>00:38</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Simply notice your breath as you inhale and exhale.</string>
		<key>end</key>
		<string>00:55</string>
		<key>start</key>
		<string>00:45</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You may notice the breath coming in and out through your nostrils, or you may focus on the sensations in your chest and belly rising and falling as you breathe.</string>
		<key>end</key>
		<string>01:12</string>
		<key>start</key>
		<string>00:55</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>There is no need to make the breath faster or slower, deeper or shallower.</string>
		<key>end</key>
		<string>01:17</string>
		<key>start</key>
		<string>01:12</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Just allow breathing to happen.</string>
		<key>end</key>
		<string>01:36</string>
		<key>start</key>
		<string>01:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue to simply notice your breathing happening, without judgment or a need to change it, and let yourself sink into its natural rhythm.</string>
		<key>end</key>
		<string>02:11</string>
		<key>start</key>
		<string>01:36</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now imagine that you are sitting next to a small stream on warm autumn day.</string>
		<key>end</key>
		<string>02:17</string>
		<key>start</key>
		<string>02:11</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you gaze at the stream, you notice a number of large leaves of varying colors and shapes drifting along,</string>
		<key>end</key>
		<string>02:24</string>
		<key>start</key>
		<string>02:17</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>each at its own pace, one by one, in the slowly moving current.</string>
		<key>end</key>
		<string>02:37</string>
		<key>start</key>
		<string>02:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Allow yourself to simply be with this scene for a moment, observing.</string>
		<key>end</key>
		<string>03:07</string>
		<key>start</key>
		<string>02:37</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now, gradually bring your awareness to what's going on inside you-thoughts, sensations, feelings, desires, impulses.</string>
		<key>end</key>
		<string>03:29</string>
		<key>start</key>
		<string>03:07</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now, bring your attention particularly to what's happening in your mind.</string>
		<key>end</key>
		<string>03:32</string>
		<key>start</key>
		<string>03:29</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As you do, gently notice the thoughts that show up.</string>
		<key>end</key>
		<string>03:41</string>
		<key>start</key>
		<string>03:32</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>You may notice judgments, plans, and memories,</string>
		<key>end</key>
		<string>03:46</string>
		<key>start</key>
		<string>03:41</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>fantasies, resentments, worries and other thoughts.</string>
		<key>end</key>
		<string>03:57</string>
		<key>start</key>
		<string>03:46</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Notice all your thoughts with an attitude of compassionate allowing.</string>
		<key>end</key>
		<string>04:18</string>
		<key>start</key>
		<string>03:57</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>As thoughts come into your mind, notice them, and gently place them one by one on each large leaf passing by in the stream. </string>
		<key>end</key>
		<string>04:31</string>
		<key>start</key>
		<string>04:18</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Observe each leaf as it comes closer to you.</string>
		<key>end</key>
		<string>04:39</string>
		<key>start</key>
		<string>04:31</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then watch as it moves away, drifting along and carrying that thought out of sight downstream.</string>
		<key>end</key>
		<string>04:51</string>
		<key>start</key>
		<string>04:39</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Return to gazing at the stream, waiting for the next leaf to float by.</string>
		<key>end</key>
		<string>04:59</string>
		<key>start</key>
		<string>04:51</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Continue placing each thought on its own large leaf. </string>
		<key>end</key>
		<string>05:02</string>
		<key>start</key>
		<string>04:59</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Observe each one as you let it float away downstream.</string>
		<key>end</key>
		<string>06:11</string>
		<key>start</key>
		<string>05:02</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>When you are ready to end this exercise, shift your attention to the sounds around you.</string>
		<key>end</key>
		<string>06:24</string>
		<key>start</key>
		<string>06:11</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Then shift your attention to your breath, and the rise and fall of your chest and belly as you inhale and exhale.</string>
		<key>end</key>
		<string>06:43</string>
		<key>start</key>
		<string>06:24</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Now picture what the room you are in looks like, and when you are ready, open, or refocus, your eyes and look around.</string>
		<key>end</key>
		<string>06:57</string>
		<key>start</key>
		<string>06:43</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Take your time before you go on with your day.</string>
		<key>end</key>
		<string>07:01</string>
		<key>start</key>
		<string>06:57</string>
	</dict>
</array>
</plist>
