<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attribution</key>
		<string>Helen Kelly</string>
		<key>quote</key>
		<string>Although the world is full of suffering, it is full also of the overcoming of it.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Jesse Jackson</string>
		<key>quote</key>
		<string>You are not responsible for being down, but you are responsible for getting up.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Ranier Maria Rilke</string>
		<key>quote</key>
		<string>No feeling is final.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Baruch Spinoza</string>
		<key>quote</key>
		<string>Not to laugh, not to lament, not to judge, but to understand.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Erica Jong</string>
		<key>quote</key>
		<string>And the trouble is, if you don’t risk anything, you risk even more.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Janis Joplin</string>
		<key>quote</key>
		<string>Don’t compromise yourself. You are all you you’ve got.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Buddha</string>
		<key>quote</key>
		<string>You yourself, as much as anybody in the entire universe, deserve your love and affection.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Ranier Maria Rilke</string>
		<key>quote</key>
		<string>…be attentive to what is arising within you, and place that above everything else…What is happening in your innermost self is worthy of your entire love; somehow you must find a way to work at it.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Winston Churchill</string>
		<key>quote</key>
		<string>Never, never, never, never, never give up.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Frank Outlaw</string>
		<key>quote</key>
		<string>Watch your thoughts; they become your words. Watch your words; they become your actions. Watch your actions; they become your habits. Watch your habits; they become your character. Watch your character; it becomes your destiny.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Theodore Roosevelt</string>
		<key>quote</key>
		<string>Do what you can, with what you have, where you are.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Molly Goode</string>
		<key>quote</key>
		<string>Let your heart guide you. It whispers, so listen closely.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Ellen Glasgow</string>
		<key>quote</key>
		<string>Life is never what one dreams. It is seldom what one desires, but for the vital spirit and the eager mind, the future will always hold the search for buried treasure and the possibility of high adventure.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Henry David Thoreau</string>
		<key>quote</key>
		<string>It takes two to speak the truth—one to speak, the other to hear.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Ralph Waldo Emerson</string>
		<key>quote</key>
		<string>When you do a thing, do it with all your might. Put your whole soul into it. Stamp it with your personality. Be active, be energetic, be enthusiastic and faithful, and you will accomplish your object.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Mohandas K. Gandhi</string>
		<key>quote</key>
		<string>The future depends on what we do in the present.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Jean Shinoda Bolen</string>
		<key>quote</key>
		<string>If we change within, our outer life will change also.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Wallace Stevens</string>
		<key>quote</key>
		<string>Perhaps the truth depends on a walk around the lake.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Charles Dickens</string>
		<key>quote</key>
		<string>A loving heart is the truest wisdom.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Martin Luther King Jr.</string>
		<key>quote</key>
		<string>Each of us is two selves, and the great challenge of life is to try to keep that higher self in command.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>William Saroyan</string>
		<key>quote</key>
		<string>In the time of your life, live.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Virginia Satir</string>
		<key>quote</key>
		<string>Life is not what it’s supposed to be. It’s what it is. The way you cope with it is what makes the difference.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Tommy Lasorda</string>
		<key>quote</key>
		<string>The difference between the impossible and the possible lies in a person's determination.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Scott Adams</string>
		<key>quote</key>
		<string>Remember there's no such thing as a small act of kindness. Every act creates a ripple with no logical end.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Robert Cushing</string>
		<key>quote</key>
		<string>The fact is, that to do anything in the world worth doing, we must not stand back shivering and thinking of the cold and danger, but jump in and scramble through as well as we can.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>William Thackeray</string>
		<key>quote</key>
		<string>Follow your honest convictions, and stay strong.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Aristotle</string>
		<key>quote</key>
		<string>Knowing yourself is the beginning of all wisdom.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>A. Bronson Alcott</string>
		<key>quote</key>
		<string>Your real influence is measured by your treatment of yourself.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Benjamin Franklin</string>
		<key>quote</key>
		<string>Energy and persistence conquer all things.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Swedish Proverb</string>
		<key>quote</key>
		<string>Fear less, hope more, eat less, chew more, whine less, breathe more, talk less, say more, hate less, love more, and good things will be yours.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Martha Washington</string>
		<key>quote</key>
		<string>I have learned that the greater part of our misery or unhappiness is determined not by our circumstance but by our disposition.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Ranier Rilke</string>
		<key>quote</key>
		<string>The only journey is the journey within.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Doug Firebaugh</string>
		<key>quote</key>
		<string>Every day do something that will inch you closer to a better tomorrow.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Hamerton</string>
		<key>quote</key>
		<string>The happiest life is that which constantly exercises and educates what is best in us.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Thomas Edison</string>
		<key>quote</key>
		<string>I failed my way to success.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Ralph Waldo Emerson</string>
		<key>quote</key>
		<string>Don't waste your life in doubts and fears: spend yourself on the work before you, well assured that the right performance of this hour's duties will be the best preparation for the hours or ages that follow it.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Chas. Austin Bates</string>
		<key>quote</key>
		<string>It is the trouble that never comes that causes the loss of sleep.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Helen Keller</string>
		<key>quote</key>
		<string>When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Horace Bushnell</string>
		<key>quote</key>
		<string>The more difficulties one has to encounter, within and without, the more significant and the higher in inspiration his life will be.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Berthold Auerbach</string>
		<key>quote</key>
		<string>Years teach us more than books.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Helen Keller</string>
		<key>quote</key>
		<string>Life is either a daring adventure or nothing.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>St. Clement of Alexandra</string>
		<key>quote</key>
		<string>If you do not hope, you will not find what is beyond your hopes.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Henry Ward Beecher</string>
		<key>quote</key>
		<string>Men's best successes come after their disappointments.</string>
	</dict>
	<dict>
		<key>attribution</key>
		<string>Robert Frost</string>
		<key>quote</key>
		<string>The best way out is always through.</string>
	</dict>
</array>
</plist>
