<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I have been through many hard things in my life and survived.</string>
	<string>I can tolerate this.</string>
	<string>This situation is different than what happened to me and I'm going to be fine.</string>
	<string>This may seem hard now, but it will get easier and easier over time.</string>
	<string>I know I’m in a safe place, even though my mind is telling me something else.</string>
	<string>I can feel my heart beating and my feet on the floor.  I am alive and okay.</string>
	<string>I’ve been through worse before and made it through safely.</string>
	<string>My body is reacting to a memory.  Right now I am safe.</string>
	<string>I don't have to feel comfortable all the time.  That just proves I am human.</string>
	<string>This emotion will come and go.  I will feel differently in twenty minutes.</string>
	<string>I have been through this before and been just fine.</string>
	<string>This is another challenge that I will figure out and face.</string>
	<string>These emotions are telling me something.  They won't hurt me.</string>
	<string>I am able to protect myself.</string>
	<string>Slow down.  I know there is more than one choice I can make.</string>
	<string>I can ask others for help.</string>
	<string>I have made the right decision before.</string>
	<string>My thoughts are just thoughts; they’re not always right. Don’t believe everything you think.</string>
	<string>I am strong.  I am safe now.</string>
	<string>This feeling will pass.</string>
	<string>I will not feel this way forever.  I have felt differently before and will feel differently soon.</string>
	<string>I am in a safe place.</string>
	<string>The emotions I feel right now are giving me information about how I feel but they’re not necessarily based on facts.</string>
	<string>If I don't fight my emotions, they will go down on their own.</string>
	<string>It is okay if it takes me time to figure this out.</string>
	<string>There are times when I will fall back into old patterns.  I just need to catch myself and get back on track with what's effective.</string>
	<string>Nightmares are disturbing, but they're not real. I am safe.</string>
</array>
</plist>
