<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I am right here, right now.</string>
	<string>I can feel my heart beating and my feet on the floor.  I am alive and okay.</string>
	<string>I am able to respond effectively. I have skills to handle this situation.</string>
	<string>My thoughts are just thoughts; they’re not always right. Don’t believe everything you think.</string>
	<string>I am strong.  I am safe now.</string>
	<string>This feeling will pass.</string>
	<string>I will not feel this way forever.  I have felt differently before and will feel differently soon.</string>
	<string>I am in a safe place.</string>
</array>
</plist>
